<section class="todoapp">

  <header class="header">
    <h1><%= @song.name %></h1>

    <%= form_for(@song) do |f| %>

      <%= f.text_field :name, :class => "new-todo" %>
 
    <% end %>
  </header>


    <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">

          
          <li>
            <div class="view">
              <input class="toggle" type="checkbox">
                <label></label>
                  <button class="destroy"></button>
            </div>
          </li>
     

      </ul>
    </section>
    


</section>